<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
	<%= f.text_field :content, placeholder: "New Todo" %>
	    <div class="field">
        <%= f.label :priority %>
        <%= f.select :priority, options_for_select([["High"], ["Medium"],["Low"]]), :required => 'required' %>
   		</div>
    	<div class="field">
        <%= f.label :deadline %>
        <%= f.date_field :deadline, :value => Date.today, data:{provide:'datepicker'}, :required => 'required' %>
    </div>
	<%= f.submit %>
<% end %>