<div class="row clearfix">
		<div class="complete">
		<%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
			<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="todo_item">
			<p <%= todo_item.completed? ? 'class=todo_completed' : '' %>>
			<%= todo_item.content %>
			<span class="todo_item_date">
			Priority: <%= todo_item.priority %>;
        	Deadline date: <%= todo_item.deadline.strftime("%d-%m-%Y") %>
			</span>
			</p>
		</div>
		<div class="trash">
		<%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id) do%>
        <i class="fas fa-pencil-alt"></i>
        <% end %> |||
			<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
</div>